body {
	background:#eee;
	margin:0;
	padding:0;
}

h1.title {
	font-family: "Gotham Book", Arial, sans-serif;
	font-size: 18pt;
	color: #ccc;
	margin:6px;
	display:inline-block;
}

div.menu {
	float:right;
	margin-top:12px;
}

.menu a {
	color:#aaa;
	text-decoration:none;
	padding:6px;
}
.menu a:hover {
	color:#444;
	background:#ddd;
}

.blockTitle {
	font-weight:bold;
	background: #444;
	color:white;
	padding:3px 6px;
}
.blockTitle a {
	color:white;
	text-decoration:none;
}

.block {
	border: 1px solid gray;
	background: #eee;
	margin: 6px;
	float:left;
}

.block div:not(.blockTitle) {
	padding:3px 6px;
}

.block table {
	border-collapse:collapse;
}

#leftsidebar {
	float:left;
	width:150px;
}

div#nodeList {
	padding:6px;
	background:white;
}

#nodeTables {
	display:none;
	background:white;
}

#nodeTables a {
	text-decoration:none;
}

#nodeTables tr:not(.alert) {
	background:white;
}

#nodeTables td {
	padding:3px;
	border:1px solid #ccc;
}

#nodeTables th {
	background: #777;
	color:white;
	font-weight:normal;
	font-size:10pt;
}

.service.old, .connection.old {
	color:#ccc;
}
.service.old:hover, .connection.old:hover {
	color:black;
}

tr.service.old td, tr.service.old * div {
	border-color:#ccc;
}
tr.service.old * svg {
	color:#ccc;
}

tr.alert {
	font-size:10pt;
}
tr.alert td {
	padding:12px 3px;
}

td.last_check, td.last_status_change {
	white-space:nowrap;
}

td.alert_status {
	text-align: center;
}

tr.alert.status_OK .alert_status {
	background: #0C3;
	color:white;
}

tr.alert.status_WARNING {
	background:#feffbf;
}

tr.alert.status_WARNING .alert_status {
	background: #FFFF00;
	color:black;
}

tr.alert.status_CRITICAL {
	background:#ffd4c9;
}

tr.alert.status_CRITICAL .alert_status {
	background: #f30;
	color:white;
}

.old .service.status_OK {
	background: #ccf;
	color: black;
}

.service.status_OK {
	background: #cfc;
}

.service.status_WARNING {
	background: #FFA500;
	color:white;
}

.service.status_CRITICAL {
	background: #f30;
	color:white;
}

a:hover {
	background:blue;
	color:white;
}

.statusBox {
	padding: 6px;
	margin: 6px 0;
	border:6px;
	border-radius: 6px;
	position:absolute;
	left:6px;
	z-index:1;
}

.statusBox.normal {
	background:#cfc;
}

.statusBox.error {
	background:#faa;
	color:white;
}

.nodeChart {
	background:white;
	border-bottom:1px solid #ccc;
}

.nodeChart table {
	padding:24px;
}

.nodeChart .node {
	border:1px solid gray;
	padding:6px;
	margin:3px;
}

.nodeChart .service, .nodeChart .remoteService {
	border:1px solid gray;
	padding:3px 12px;
	text-align:center;
}

// nodesChart definition
svg .node {
  stroke: #fff;
  stroke-width: 1.5px;
    cursor: move;
}

svg .group {
  stroke: #fff;
  stroke-width: 1.5px;
  cursor: move;
  opacity: 0.7;
}

svg .link {
  stroke: #7a4e4e;
  stroke-width: 1px;
  stroke-opacity: 1;
}

svg .label {
    color:black;
    font-family: Monospace;
    font-size: 10px;
    text-anchor: middle;
    cursor: move;
}

.settingsForm {
	clear:both;
	background:#f0f0f0;
	border:1px solid #ccc;
	margin:6px;
	padding:6px 12px;
	font-family:Helvetica;
}

.settingsForm .title {
	font-weight:bold;
	font-size:120%;
	margin:12px 0;
}
.settingsForm .description {
	margin-bottom:12px 0;
	font-size:11pt;
	color:#444;
}
.settingsForm table {
	margin:6px 0;
	border-collapse:collapse;
	border:1px solid #444;
}
.settingsForm table th {
	background:#777;
	color:white;
	font-weight:normal;
}
.settingsForm table td {
	padding:6px;
}

#gmap {
	width:100%;
	height:100%;
}

#gmap .mapbullet {
        overflow: hidden; 
        cursor: default; 
        clear: both; 
        position: relative; 
        padding: 6px 12px; 
        background-color: white;
        border-radius: 4px 4px; 
        -moz-border-radius: 4px 4px;
        -webkit-border-radius: 4px 4px;
        border: 2px solid black;
}

form#node_add {
	float:right;
}
