

.blockTitle {
	font-weight:bold;
	margin-bottom:6px;
}

.block {
	border: 1px solid gray;
	background: #eee;
	padding: 6px;
	margin: 6px;
	float:left;
}

a:hover {
	background:blue;
	color:white;
}

.status {
	padding: 6px;
	margin: 6px;
	border:6px;
	border-radius: 6px;
}

.status.normal {
	background:#cfc;
}

.status.error {
	background:#faa;
	color:white;
}
