body {
	background:#eee;
	margin:0;
	padding:0;
}

h1.title {
	font-family: Verdana;
	font-size: 18pt;
	color: #444;
	margin:6px;
}

.blockTitle {
	font-weight:bold;
	background: #444;
	color:white;
	padding:3px 6px;
}
.blockTitle a {
	color:white;
	text-decoration:none;
}

.block {
	border: 1px solid gray;
	background: #eee;
	margin: 6px;
	float:left;
}

.block div:not(.blockTitle) {
	padding:3px 6px;
}

.block table {
	border-collapse:collapse;
}

#nodeTables {
	display:none;
	background:white;
}

#nodeTables a {
	text-decoration:none;
}

#nodeTables td {
	padding:3px;
	border:1px solid #ccc;
	background: white;
}

#nodeTables th {
	background: #777;
	color:white;
	font-weight:normal;
}

#nodeTables .old {
	color:#ccc;
}
#nodeTables .old:hover {
	color:black;
}

a:hover {
	background:blue;
	color:white;
}

.statusBox {
	background: white;
	padding: 3px 6px;
	border-top:1px solid #ccc;
}

.status {
	padding: 6px;
	margin: 6px 0;
	border:6px;
	border-radius: 6px;
}

.status.normal {
	background:#cfc;
}

.status.error {
	background:#faa;
	color:white;
}

.nodeChart {
	background:white;
	min-height:600px;
	border-bottom:1px solid #ccc;
}

.nodeChart table {
	padding:24px;
}

.nodeChart .node {
	border:1px solid gray;
	padding:6px;
	margin:3px;
}

.nodeChart td.service {
	border:1px solid gray;
	padding:3px 12px;
	text-align:center;
}


// nodesChart definition
svg .node {
  stroke: #fff;
  stroke-width: 1.5px;
    cursor: move;
}

svg .group {
  stroke: #fff;
  stroke-width: 1.5px;
  cursor: move;
  opacity: 0.7;
}

svg .link {
  stroke: #7a4e4e;
  stroke-width: 1px;
  stroke-opacity: 1;
}

svg .label {
    fill: white;
    font-family: Monospace;
    font-size: 10px;
    text-anchor: middle;
    cursor: move;
}
