

.blockTitle {
	font-weight:bold;
	background: #444;
	color:white;
	padding:3px 6px;
}

.block {
	border: 1px solid gray;
	background: #eee;
	margin: 6px;
	float:left;
}

.block div:not(.blockTitle) {
	padding:3px 6px;
}

.block table {
	border-collapse:collapse;
}

table.services td, table.connections td {
	padding:3px;
	border:1px solid #ccc;
}

table.services th, table.connections th {
	background: #777;
	color:white;
	font-weight:normal;
}

table.services tr.service.old, table.services tr.connection.old {
	color:#ccc;
}
table.services tr.service.old:hover, table.services tr.connection.old:hover {
	color:black;
}

a:hover {
	background:blue;
	color:white;
}

.status {
	padding: 6px;
	margin: 6px;
	border:6px;
	border-radius: 6px;
}

.status.normal {
	background:#cfc;
}

.status.error {
	background:#faa;
	color:white;
}

.nodeChart table {
	background:white;
	padding:6px;
	border:2px solid black;
}

.nodeChart .node {
	border:1px solid gray;
	padding:6px;
}

.nodeChart td.service {
	border:1px solid gray;
	padding:3px 12px;
}

