

.blockTitle {
	font-weight:bold;
	background: #444;
	color:white;
	padding:3px 6px;
}

.block {
	border: 1px solid gray;
	background: #eee;
	margin: 6px;
	float:left;
}

.block div:not(.blockTitle) {
	padding:3px 6px;
}

.block table {
	border-collapse:collapse;
}

.block table td {
	padding:3px;
	border:1px solid #ccc;
}

.block th {
	background: #777;
	color:white;
	font-weight:normal;
}

a:hover {
	background:blue;
	color:white;
}

.status {
	padding: 6px;
	margin: 6px;
	border:6px;
	border-radius: 6px;
}

.status.normal {
	background:#cfc;
}

.status.error {
	background:#faa;
	color:white;
}
